/************** Cette bloc est pour tout les styles***********/
@font-face {
    font-family:'Roboto', sans-serif ;
    src: url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&family=Roboto&display=swap');
}

html,body{
    height:100%;
    margin:0%;
}

body{
    background:url('../images/arriere.jpg'); 
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration:none;
    color:beige;
    font-size: 25px;
    font-weight: 85;
    margin-right: 15px;
    transition: all 1s ease-in;
    font-family: 'Roboto',sans-serif;
}

#titre {
    font-size: 20px;
    font-weight: 150;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 25px;
}

header{
    background:url('../images/maxresdefault.jpg'); 
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    margin: 0px;
    border-bottom: 5px solid #616161;
}

 nav{
    top: 30px;
    right: 30px;
    position :absolute;   
}

nav ul li{
    display: inline-flex;
}

nav a:hover,a:focus{
    background-color: rgb(255, 0, 0);
    border-radius: 25px;
    padding: 5px;
}
/**********************************************************************************************************************************/


#entete h2{
    color: white;
    padding: 15px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#entete h3{
    color: white;
    margin-top: 0px;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.eps{
margin-top: 0px;
margin-left: 75px;


}

.eps a{
        text-decoration:none;
        color:pink;
        font-size: 20px;
        font-weight: 85;
        transition: all 0.005s ease-in-out;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    
    }

.eps a:hover,a:focus{
        background-color:seagreen;
        border-radius: 3px;
        padding: 5px;
    }

.eps ul li{
    list-style:disc;
}



/*****************************footer************************/
footer{    
    margin-top: 180px;
    border-top: 5px solid #616161;
    padding-bottom: 5px;
    background:url('../images/maxresdefault.jpg'); 
    background-repeat: repeat;
    background-size: cover;
    position: relative;

}
footer p{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/*************** Les reseaux sociaux **********************/
.rx {
    display: flex;
    margin-left: 500px;
}
.rx li {
    list-style: none;
}
.rx li a{
    background-color: transparent;
    display: inline-block;
}
